.div{
   border: 2px solid black;
   height: 1000px;
   width: 550px;
   position: relative;
   background-color: rgb(32, 4, 58);
   background-image: linear-gradient(to bottom right,rgb(52, 12, 52),rgb(53, 13, 52),rgb(62, 55, 91), rgb(62, 55, 91),rgb(174, 11, 149) , rgb(52, 12, 52),rgb(52, 12, 52),rgb(52, 12, 52),rgb(52, 12, 52))
}
.div2{
    position:absolute;
    left: 350px;
    top: 250px;
    border: 2px solid;
    height: 200px;
    width: 350px;
    background-color: purple;
    background-image:linear-gradient( to bottom right,rgb(11, 4, 55), rgb(81, 53, 242),rgb(62, 20, 62),rgb(195, 29, 145),rgb(251, 83, 27), rgb(52, 12, 52),rgb(52, 12, 52));
    border-radius: 6px;
    
}
.div3{
    position:absolute;
    left: 450px;
    top:480px;
    border: 2px solid rgb(190, 190, 183);
    height: 200px;
    width: 350px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 3px 3px rgb(213, 210, 210);
}
.div4{
    border: 2px solid white;
    height: 500px;
    width: 500px;
    position: absolute;
    left: 900px;
    top: 150px;

}
.align{
    margin-top: 200px;
}
.btn{
    background-color: rgb(49, 6, 49);
    color: white;

    
}
.border{
    height: 30px;
    width: 346px;
    border: 2px solid black;
    position: absolute;
    top: 22px;
    background-color: black;
}
.div5{
  margin-top: 20px;
  margin-left: 160px;
}
.round1{
    height: 30px;
    width: 30px;
    border: 2px solid ;
    border-radius: 100%;
    background-color: white;
    margin-left: 20px;
    margin-top: 5px;
    
}
.round2{
    height: 15px;
    width: 15px;
    border: 2px solid ;
    border-radius: 100%; 
    margin-left: 40px;
    margin-top: 7px;
    color: white;
    
    
}
.round3{
    margin-top: 3em;
    margin-left: 1.5em;
    font-size: 25px;
    color: white;
    letter-spacing: 3px;
}
.jane{
    margin-left:1em ;
    color: white;
    font-size: medium;
    margin-top: 2em;
}
.circle{
    
    position: absolute;
    top: 163px;
    left: 18em;
    font-size: medium;
    color: white;
    
}
.input{
    position: absolute;
    top: 21em;
    left: 9.3em;
}
.border2{
    border: 2px solid gray;
    height: 25px;
    width: 300px;
    background-color: grey;
    position: absolute;
    top: 4.5em;
    left: 1.4em;
}
.circle2{
    position: absolute;
    top: 4.2em;
    left: 18em;
    font-size: medium;
    letter-spacing: 1px;
    color: white;
}
.cvc{
    position: absolute;
    left:9.5em;
    top: 316px;

}
.border3{
    height: 3px;
    width: 100px;
    border: 1px solid rgb(206, 202, 202);
    position: absolute;
    top: 130px;
    left: 70px;
    background-color: hsl(0, 2%, 66%);
    
}
.border4{
    height: 3px;
    width: 5px;
    border: 1px solid rgb(206, 202, 202);
    position: absolute;
    top: 130px;
    left: 175px;
    background-color: hsl(0, 2%, 66%); ;
    
}
.border5{
    height: 3px;
    width: 15px;
    border: 1px solid rgb(206, 202, 202);
    position: absolute;
    top: 130px;
    left: 185px;
    background-color: hsl(0, 2%, 66%); ;
    
}
.border6{
    height: 2px;
    width: 100px;
    border: 1px solid rgb(206, 202, 202);
    position: absolute;
    top: 140px;
    left: 120px;
    background-color: hsl(0, 2%, 66%);
    
}
.border7{
    height: 3px;
    width: 15px;
    border: 1px solid rgb(206, 202, 202);
    position: absolute;
    top: 140px;
    left: 225px;
    background-color: hsl(0, 2%, 66%); ;
    
}
